.tinder_card {
    background-color: white;
    float: left;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #ddd;
    position: absolute;
    width: 100%;
    height: 60%;
    overflow: auto;
    border-bottom: 7px solid white;
}

h1{
    text-align: center;
}

.txt_vurdering {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}

.drop-hover {
    background-color: pink;
}

.tinder_container {
    width: 70%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 30px;
    float: left;
    height: 910px;
    /* border-bottom: 2px double #ddd; */
    border-radius: 6px;
    /* background-color: white; */
    z-index: 10;
    position: relative;
}

.MsgBox_bgr {
    z-index: 100;
}

.knap_container {
    float: left;
    margin-top: 590px;
    text-align: center;
    width: 100%;
    background-color: transparent;
    z-index: 25;
}

.btn_tinder {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    padding-bottom: 0px;
    font-size: 3em;
}

.btn_no {
    color: red;
}
#UserMsgBox > .glyphicon-remove{
    color:#666;
}
.glyphicon-remove{
    color:red;
}


.glyphicon-remove:hover{
    color:red;
}

.btn_yes {
    color: green;
}

.btn_yes:hover{
    color:green;
}

.dropzone_no {
    width: 35%;
    height: 500px;
    margin-left: 0px;
    float: left;
    margin-right: -20%;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.dropzone_yes {
    width: 35%;
    height: 500px;
    margin-left: -20%;
    float: left;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.card_header {
    background-color: rgba(123,231,231,.5);
    border-radius: 4px;
    padding:10px;
}

@media (max-width: 768px) {
    .card_header {
        font-size: 16px;

    }
    .card_text {
        font-size: 24px;
    }

    .card_text_konkl{
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .card_header {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .card_text {
        font-size: 28px;
        padding-right: 40px;
    }
    .card_header_konkl{
        margin-bottom: 30px;
    }
     .card_text_konkl{
        font-size:24px;
    }
}
